name: Python Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install junit2html  # HTML report генерациясы үшін

    - name: Run tests and generate XML
      run: |
        mkdir -p test-results
        pytest -v --junitxml=test-results/report.xml test/

    - name: Convert XML to HTML
      run: |
        junit2html test-results/report.xml test-results/report.html

    - name: Upload test reports
      uses: actions/upload-artifact@v4
      with:
        name: test-report
        path: test-results/

